<h1>The creator, the mind, the writer behind it all</h1>
<p>A long long time ago, in a land far away, lots of things happened that were not related to the author of this page at all.
But! That does not affect this story. Curious about the author? Go to https://www.facebook.com/Sstephanieee</p>
